body {
  max-width: 100%;
  width: 900px;
  margin: auto;
  padding: 10px;
}

h1 {
  font-family: 'Monda700', sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 3em;
}

h2 {
  font-family: 'Monda', sans-serif;
  font-variant-caps: all-small-caps;
}

header.page p {
  font-family: 'Monda', sans-serif;
  font-variant-caps: all-small-caps;
}

header.page {
  text-align: center;
}

.orange {
	color: #f8711a
}

section {
    margin: auto;
    padding: 10px 10px 50px;
}
